body {
  background: #000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.quiz-container {
  background-color: white;
  color: #000;
  border-radius: 10px;
  width: 400px;
  padding: 2rem;
  box-shadow: 0 0 10px 10px rgba((0, 0, 0, 0.1), green, blue, alpha);
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  cursor: pointer;
  font-size: 1.2rem;
  margin: 1rem 0;
}

ul li label {
  cursor: pointer;
}

button {
  background-color: #8e44ad;
  color: white;
  display: block;
  font-family: "Times New Roman", Times, serif;
  width: 100%;
  padding: 0.5rem;
  padding-top: 10px;
  cursor: pointer;
}
